/***********************
 * Buscador scout  *
 ***********************/

#title_search{
	text-align: center;
	font-size: 25px;
}


.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
	position: relative;
	top:0px;
    width:75%;
}

/***********************
 * configuracion de styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  	padding: 0 46px 0 10px;
	border-color: #888;
  	border-radius: 35px; /* (height/2) + border-width */
	border-style: solid;
	border-width: 5px;
  	margin-top: 15px;
  	color: #333;
  	font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  	position: absolute;
	right: 0;
	top: -10%;
	left: 70%;
	display: block;
	width: 60px;
	height: 60px;
  	padding: 0;
  	border: none;
	margin-top: 20px; /* margin-top + border-width */
  	margin-right: 5px; /* border-width */
	background: transparent;
  	color: #888;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 40px;
  	line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}



            .content{
                max-width:100%;
                margin:auto;
                width:100%;
                height:auto;    
                padding:5px;   
               
            }
            /*obliga a contenedor al tomar la altura de su contenido*/
            .content:before,
            .content:after {
                content: "";
                display: block;
                clear: both;
            }
            
            #barra{
                background: black;
                position: relative;
                top:-51px;
                width:100%;
                height:50px;
            }
            #letra{
                position: relative;
                font-family:"verdana";
                text-align: center;
                top:8px;
                color:white;
                font-size:25px;


            }

            article.item{
                padding:5px;
                background:#F5F5F5;
                width:300px;
                height:190px;
                margin:25px 15px 0;
                float: left;
                box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
                -webkit-transition:box-shadow 2s,
                 -webkit-transform 500ms,
                  -webkit-filter 500ms ease-in-out; 
                transition:box-shadow 2s,
                 transform 500ms,
                 filter 500ms ease-in-out; 

            }
            article.item:hover{
                background-color:#A2CDCD  ;
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                box-shadow: 3px 3px 10px rgba(0,0,0,0.6);

            }
            article.item h6{
                font-size: 16px;
                font-weight: 400;

            }
            article.item p{
                font-size:11px
            }
            article.item a,
            article.item a:link,
            article.item a:visited{
                text-decoration: none;
                color: #000; 

            }

            article.blur{
            
                -webkit-filter: blur(3px);
                filter: blur(3px);
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            
/* Formatear el formulario a dos columnas */


.izquierda {
  float: left;
  clear: left;
}

.derecha {
  float: right;
  clear: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contenedor {
  background: #FFF;
  border: 1px solid silver;
  margin: 1em auto;
  padding: 1em;
  width: 768px;
}

span.requerido {
  font-size: 1.3em;
  font-weight: bold;
  color: #C00;
}

h2 {
  font: normal 2em arial, sans-serif;
  margin: 0;
}


ul li.botones {
  border-top: 2px solid #CCC;
  clear: both;
  float: none;
  padding: 1em 0;
  margin-top: 1em;
  text-align: right;
  width: 100%;
}

ul li.botones input {
  font-size: 1.3em;
}

ul li {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 46%;
}

ul li label.titulo {
  font-weight: bold;
}

ul li div span {
  float: left;
  padding: 0.3em 0;
}

ul li div span.completo {
  width: 100%;
}

ul li div span.mitad {
  width: 50%;
}

ul li div span.tercio {
  width: 33%;
}

ul li div span.dostercios {
  width: 66%;
}

ul li div span label {
  display: block;
  font: normal 0.8em arial, sans-serif;
  color: #333;
}

ul li p.ayuda {
  display: none;
}

ul li input {
  padding: 0.2em;
}


/* Cambiar el color en el :hover y resaltar los campos en el :focus */




ul li input:focus {
  border: 2px solid #E6B700;
}

/* Formatear el formulario a una columna */
ul li.izquierda, ul li.derecha {
  float: none;
  width: auto;
}

ul li {
  overflow: hidden;
}

ul li label.titulo {
  float: left;
  width: 150px;
}

ul li div {
  margin-left: 160px;
}

/*rama lobatos*/
/*boton volver*/
#atras{
  border-style: none;
  background-color:#2C7CAD ;
  font-family: verdana;
  width:12%;
  border-radius:15px 15px;
  cursor: pointer;
}
#atras:hover{  
  background-color:#84BEE1;
}
 

 /*desplegable submenu filtro para la biblioteca*/
.navegacion{
  position: relative;
  /*right:10%;*/
  top:-15px;
  width:300px;
}

.navegacion ul{
  list-style: none;
}
.menu_nav > li{
  position: relative;
  display: inline-block;
}

.menu_nav > li > button{
  display: block;
  color:black;
  text-decoration: none;
}

.menu_nav li button:hover{
  color:black;
  transition:all .3s;
}
.submenu{
  position:relative;
  background:#FFF6F4;
  width: 100%;
  visibility: hidden;
  font-size:98%;
}
.submenu li button{
  display: block;
  padding:14px;
  color:black;
  text-decoration:none;
}
.menu_nav li:hover .submenu{
visibility: visible;
opacity: 1;
}

#bibliotecaMain{
  position: relative;
 /*left:2%;*/
}

 button{
  border-style: none;
  background-color:#7C7EFF;
  font-family: verdana;
  width:100%;
  border-radius:15px 12px;
  cursor: pointer;
}
button:hover{
   background-color:#84BEE1; 
}
/*termina desplegable*/